<template>
  <div class="container-fluid">
    <div class="row">
      <div class="bg d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-8">
              <h1 class="display-1 text-center text-white">
                ABOUT US
              </h1>
              <p class="fs-3 text-center text-white"> This website is made for educational purposes only.
                by uploading data files to the website And the website will show
                the information and the website has an extension to organize
                the information and display the information as you want.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</template>

<script>
export default {
    name: 'About'
}
</script>

<style scoped>
.bg {
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../assets/woods.jpg");
}
</style>