<template>
  <section>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="card mt-4 mb-4" style="height: 80vh;">
          <h5 class="card-header">Chart <i class="bi bi-pie-chart-fill" style="color:cornflowerblue;"></i> </h5>
          <div class="card-body"><br><br><br>
            <div class="chartbox">
              <GChart style="display:block; margin:0 auto" type="PieChart" :data="chartData" :options="chartOptions"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { GChart } from "vue3-googl-chart";
import axios from 'axios'

export default {
  name : "ChartMe",
  components: {
    GChart
  },

  data () {
    return {
      chartData: [
        ['Section', 'TotalHouse'],
        ['North', 0],
        ['NorthEast', 0],
        ['Western', 0],
        ['Central', 0],
        ['Eastern', 0],
        ['South', 0]
      ],
      chartOptions: {
        title: 'Show distribution by region',
        subtitle: 'TotalHouse : 2022-current',
        width: 700,
        height: 400,
        is3D: true,
        slices: {
            0: { color: '#F1DDBF' },
            1: { color: '#525E75' },
            2: { color: '#78938A' },
            3: { color: '#92BA92' },
            4: { color: '#FFD124' },
            5: { color: '#FF8080' },
        },
        backgroundColor: '#E4E4E4',
      }
    }
  },

  async mounted() {
    let query = await axios.get('http://localhost:3000/query')
    console.log(query);
    for(let i = 0; i < query.data.response.length; i++) {
      if(query.data.response[i].sector == "Eastern") {
        this.chartData[5][1] = parseInt(this.chartData[5][1]) + 1
      } else if(query.data.response[i].sector == "NorthEast") {
        this.chartData[2][1] = parseInt(this.chartData[2][1]) + 1
      } else if(query.data.response[i].sector == "Central") {
        this.chartData[4][1] = parseInt(this.chartData[4][1]) + 1
      } else if(query.data.response[i].sector == "South") {
        this.chartData[6][1] = parseInt(this.chartData[6][1]) + 1
      } else if(query.data.response[i].sector == "North") {
        this.chartData[1][1] = parseInt(this.chartData[1][1]) + 1
      } else if(query.data.response[i].sector == "Western") {
        this.chartData[3][1] = parseInt(this.chartData[3][1]) + 1
      } 
    }
  }
}
</script>


<style scoped>
.card{
    text-align: start;
    box-shadow: 0 5px 10px rgba(0,0,0,.2); 
}
.chartbox{
  width: 700px;
  margin: 0 auto;
}
section{  background: url("https://i.ibb.co/Nmm9q3g/bg1.jpg") no-repeat;}
</style>