<template>
  <section class="bg-dark">
    <div class="container marketing">
      <div class="row justify-content-md-center">
        <hr class="featurette-divider bg-dark">
        <div class="col-md-4">
          <img src = "@/assets/along.png" width="400" height="400" class="img-fluid"/>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading text-white">ALONGKORN VANZOH</h2>
          <p class="lead text-white">Email : 63050210@kmitl.ac.th <br> Role : Backend-Devoloper</p>
        </div>
      </div>

    <hr class="featurette-divider">

    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <img src = "@/assets/Bukhoree.jpg" width="400" height="400" class="img-fluid"/>
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading text-white">BUKHOREE DENGMASA</h2>
        <p class="lead text-white">Email : 63050153@kmitl.ac.th <br> Role : Backend-Devoloper</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <img src = "@/assets/Green.gif" width="400" height="400" class="img-fluid"/>
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading text-white">PHONGSAKORN KAWHAOLAI</h2>
        <p class="lead text-white">Email : 63050159@kmitl.ac.th <br> Role : Frontend-Devoloper</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <img src = "@/assets/Tontun.jpg" width="400" height="400" class="img-fluid"/>
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading text-white">PISUT YIMKUSON</h2>
        <p class="lead text-white">Email : 63050210@kmitl.ac.th <br> Role : Frontend-Devoloper</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <img src = "@/assets/poom.jpeg" width="400" height="400" class="img-fluid"/>
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading text-white">PUMIPAT PISITRATCHANON</h2>
        <p class="lead text-white">Email : 63050210@kmitl.ac.th <br> Role : Frontend-Devoloper</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <img src = "@/assets/Pond.jpeg" width="400" height="400" class="img-fluid"/>
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading text-white">WORAKORN JANTRANONT</h2>
        <p class="lead text-white">Email : 63050180@kmitl.ac.th <br> Role : Frontend-Devoloper</p>
      </div>
        <hr class="featurette-divider bg-dark">
      </div>
    </div>
  </section>
</template> 

<script>
export default {
    name: 'Contact'
}
</script>

<style scoped>
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.featurette-divider {
  margin: 5rem 0; 
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

img {
    border-radius: 50%;
}
</style>