<template>
  <div class="container">
    <div style="text-align: left"><br>
      <input v-model="searchTerm" type="text" class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Search...">
        </div><br><br>
        <table-lite
          :is-static-mode="true"
          :columns="table.columns"
          :rows="table.rows"
          :total="table.totalRecordCount"
          :sortable="table.sortable"
        ></table-lite><br>
  </div>
</template>

<script>
import { defineComponent, reactive, ref, computed } from "vue";
import TableLite from "@/components/TableLite.vue";
import axios from 'axios'


export default defineComponent({
  name: "DataTable",
  components: { TableLite,  },
  setup() {
    const searchTerm = ref("");
    const data = reactive([]);
    axios.get('http://localhost:3000/query')
    .then((res) => {
        let opacity = res.data.response.length
        console.log(res.data.response);
        for(let i = 0; i < opacity; i++) {
          data.push({
            id: res.data.response[i].id,
            student_id: res.data.response[i].student_id,
            name: res.data.response[i].name,
            sector: res.data.response[i].sector,
            province: res.data.response[i].province,
            hang: res.data.response[i].hang,
            county: res.data.response[i].county,
            road: res.data.response[i].road,
            house_number: res.data.response[i].house_number,
            class: res.data.response[i].class,
          })
        }
    }).catch((e) => {
        console.log(e);
    })
    
    const table = reactive({
      columns: [
        {
          label: "id",
          field: "id",
          width: "3%",
          sortable: true,
          isKey: true,
        },
            {
          label: "student id",
          field: "student_id",
          width: "3%",
          sortable: true,
        },
        {
          label: "name",
          field: "name",
          width: "10%",
          sortable: true,
        },
        {
          label: "sector",
          field: "sector",
          width: "5%",
          sortable: true,
        },
        {
          label: "province",
          field: "province",
          width: "5%",
          sortable: true,
        },
        {
          label: "hang",
          field: "hang",
          width: "5%",
          sortable: true,
        },
        {
          label: "county",
          field: "county",
          width: "5%",
          sortable: true,
        },
        {
          label: "road",
          field: "road",
          width: "5%",
          sortable: true,
        },
        {
          label: "house number",
          field: "house_number",
          width: "5%",
          sortable: true,
        },
        {
          label: "ชั้นปี",
          field: "class",
          width: "5%",
          sortable: true,
        },
      ],
      rows: computed(() => {
        return data.filter(
          (x) =>
            //x.id.includes(searchTerm.value) ||
            x.student_id.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
            x.name.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
            x.sector.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
            x.province.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
            x.hang.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
            x.county.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
            x.road.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
            x.house_number.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
            x.class.toLowerCase().includes(searchTerm.value.toLowerCase()) 
            
        );
      }),
      totalRecordCount: computed(() => {
        return table.rows.length;
      }),
      sortable: {
        order: "id",
        sort: "asc",
      },
    });
    return {
      searchTerm,
      table,
    };
  },
});
</script>