<template>
  <div id="Home">
    <div class="container-fluid">
      <div class="row">
        <div class="image_1" style="height: 620px">
          <h1 class="text-center" style="color: white; margin-top: 240px">
            FINE YOUR BROTHER<br /><br /><br />This website is used to filter
            <br />and sort the information you want to use.
          </h1>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="image_2 " style="height: 620px">
          <h1 class="text-center" style="color: white; margin-top: 240px">
            UPLOAD YOUR FILE.<br>
            <button type="button" class="btn btn-outline-secondary">
              <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload()" />
            </button>
          </h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as XLSX from 'xlsx';
import axios from 'axios'

export default {
  name: 'Home',
  data() {
      return {
        files: [],
      }
    },
  methods: {
      addFiles() {
        this.$refs.files.click();
      },

      async handleFilesUpload() {
        let uploadedFiles = this.$refs.files.files;

        for (var i = 0; i < uploadedFiles.length; i++) {
          this.files.push(uploadedFiles[i]);
        }

        var f = uploadedFiles[0];
        var reader = new FileReader();
        reader.onload = async function (e) {
          var data = e.target.result;
          data = new Uint8Array(data);
          var workbook = XLSX.read(data, {
            type: "array"
          });

          var first_sheet_name = workbook.SheetNames[0];
        
          var worksheet = workbook.Sheets[first_sheet_name];
        
          var json = XLSX.utils.sheet_to_json(worksheet, {
            header: 1
          });
          let input = {
            xlsx: json
          }
          console.log(input);
          let responseTruncate = await axios.get('http://localhost:3000/truncate')
          console.log(responseTruncate);
          let responseAdd = await axios.post('http://localhost:3000/add', input)
          console.log(responseAdd);
          window.location.href = "http://localhost:8080/table";
        }
        reader.readAsArrayBuffer(f);
      },
      removeFile(key) {
        this.files.splice(key, 1);
      },
    }
}
</script>

<style>
.image_1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../assets/wallpaperkmitl.jpg");
}
.image_2 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../assets/river.jpg");
}
</style>