<template>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mt-4 mb-4">
          <div class="card">
              <h5 class="card-header">Table <i class="bi bi-table" style="color:cornflowerblue;"></i> </h5> 
              <div class="card-body">
                <DataTable></DataTable>
              </div>
          </div>
          </div> 
      </div>
    </div>
  </section>
</template>

<script>
import DataTable from '@/views/DataTable.vue';

export default {
  name: 'Table',
  components: {
    DataTable,
  },
};
</script>

<style scoped>
*{text-align: start;}
section{  background: url("https://i.ibb.co/Nmm9q3g/bg1.jpg") ;}
</style>