<template>
    <footer class="bg-dark text-center text-lg-start">
        <div class=" d-flex flex-wrap justify-content-between align-items-center p-3 border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; 2021 Company, Inc</p>
            <router-link to="/"><img src="@/assets/logo_kmitl.png" alt="" width="100" height="50" class="d-inline-block align-text-top"></router-link>
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"> <i class="bi bi-instagram" style="font-size: 2rem; color: cornflowerblue;"></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"> <i class="bi bi-facebook" style="font-size: 2rem; color: cornflowerblue;"></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"> <i class="bi bi-twitter" style="font-size: 2rem; color: cornflowerblue;"></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"> <i class="bi bi-linkedin" style="font-size: 2rem; color: cornflowerblue;"></i></a></li>
            </ul>           
        </div> 
    </footer>   
</template>

<script>
export default {
    name: "Footer"
}
</script>